@import "general.css";
:root {
    --blanco: #ffffff;
    --gris-oscuro: #333333;
    --gris-claro: #d6d2d2;
    --amarillo: #ffd700;
    --titulo: "Pacifico", cursive;
    --parrafo: "Montserrat", sans-serif;
}

body {
    background-color: var(--gris-oscuro);
    font-size: 18px;
    color: var(--blanco);
    font-family: var(--parrafo);
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    width: 100%;
    object-fit: cover;
    border: 3px solid var(--amarillo); 
}

section {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-claro);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    section {
        flex-direction: row;
    }
}

section > div {
    flex: 1;
    margin: 10px;
}

h2 {
    font-family: var(--titulo);
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--amarillo);
}

.contenido_header {
    position: relative;
    bottom: 50px;
}

.video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -2;
    border-radius: 10px;
    overflow: hidden;
}

.contenido_header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.texto_encabezado {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    color: var(--amarillo);
    padding: 20px;
}

@media (min-width: 768px) {
    .texto_encabezado {
        font-size: 4rem;
    }
}

@media (min-width: 1024px) {
    .texto_encabezado {
        font-size: 5rem;
    }
}

.texto_encabezado > h2 {
    margin: 0;
}

.btn_init, .btn {
    font-weight: 600;
    color: var(--gris-oscuro);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid var(--amarillo);
    background-color: var(--amarillo);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn_init:hover, .btn:hover {
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    color: var(--gris-oscuro);
}

.imagenes_nosotros {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .imagenes_nosotros {
        flex-direction: row;
        justify-content: space-between;
    }
}

.imagenes_nosotros img {
    border-radius: 10px;
    border: 3px solid var(--amarillo);
}

.imagen1, .imagen2 {
    flex: 1;
    margin: 10px;
}

.imagen2 img {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .imagen1, .imagen2 {
        flex: 0 0 calc(50% - 1rem);
    }
}