@import "general.css";
:root {
    --blanco: #ffffff;
    --amarillo: #ffb100;
    --titulo: "Pacifico", cursive;
    --parrafo: "Montserrat", sans-serif;
}
header{
    background-color: black;
}

a{
    display:inline-block;
    text-decoration: none !important;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    width: 80%;
    object-fit: cover;
   /* border: 3px solid var(--amarillo);
    border-radius: 10px;*/
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 7px 2.5rem;
}
section:nth-child(even){
    flex-direction: column-reverse;
}

section > div {
    flex: 1;
    margin: 10px;
}

h2 {
    font-family: var(--titulo);
    color: var(--amarillo);
}

.apartado_principal {
    position: relative;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    z-index:-2;
}

.apartado_principal::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.texto_principal {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--amarillo);
    padding: 20px;
}

.texto_principal h2{
    font-size: 3rem;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.logo img {
    max-height: 60%;
    max-width: 60%;
}
td,tr, th {
    border-width: 1px !important;
    text-align: center;
   
}
p{
    font-size: 1.2rem;
}

.texto_principal > h2 {
    margin: 0;
}

.btn_init {
    font-weight: 600;
    color: var(--blanco);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--amarillo);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn_location{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
    background-color: var(--amarillo);
    transition: all 0.3s ease-in-out;
}

.btn_init:hover, .btn_location:hover {
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    color: var(--gris-oscuro);
}

.imagenes_nosotros {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*justify-content: space-between;
    gap: 20px;*/
}

.imagenes_nosotros img {
    border-radius: 7px;
    border: 2px solid var(--amarillo);
    width: 100%;
}

.imagen1, .imagen2 {
    flex: 1;
    margin: 10px;
}

.imagen2 img {
    margin-bottom: 1rem;
}
/*
@media (min-width: 768px) {
    .imagen1, .imagen2 {
        flex: 0 0 calc(50% - 1rem);
    }
}
*/

@media (min-width: 913px) {
    section, section:nth-child(even) {
        flex-direction: row;
    }
    .apartado_principal {
      height: initial;
    }
    
    .texto_principal h2 {
        font-size: 6rem;
    }
    img{
        width: 100%;
        
    }
    
    .video{
        height: initial;
    }
}




@media screen and (max-width: 960px){
    p{
        font-size: 1.5rem;
    }
    .imagenes_nosotros{
      display: flex;
      flex-direction: row;

    }
    table,th,td{
        font-size: 1.3rem;
    }
}
