@import "general.css";
:root {
    --blanco: #ffffff;
    --amarillo: #ffb100;
    --titulo: "Pacifico", cursive;
    --parrafo: "Montserrat", sans-serif;
}

body {
    background-color: black;
    font-size: 18px;
    color: var(--blanco);
    font-family: var(--parrafo);
    margin: 0;
    padding: 0;
}

a{
    display:inline-block;
    text-decoration: none !important;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    width: 80%;
    object-fit: cover;
    border: 3px solid var(--amarillo);
    border-radius: 10px;
}

.contenedor_encabezado{
    background-color: black;
}

section {
    color:var(--blanco);
    margin: auto;
    padding: 20px 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: black;
}
section:nth-child(even){
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    section, section:nth-child(even) {
        flex-direction: row;
    }
}

section > div {
    flex: 1;
    margin: 10px;
}

h2 {
    font-family: var(--titulo);
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--amarillo);
}

.contenido_header {
    position: relative;
    height: 50vh;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    z-index:-2;
}

.contenido_header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.texto_encabezado {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--amarillo);
    padding: 20px;
}

.texto_encabezado h2{
    font-size: 3rem;
}

@media (min-width: 768px) {
    .contenido_header {
        height: initial;
    }
    .texto_encabezado h2 {
        font-size: 6rem;
    }
    img{
        width: 100%;
    }

    .video{
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .texto_encabezado {
        font-size: 5rem;
    }
}

.texto_encabezado > h2 {
    margin: 0;
}

.btn_init {
    font-weight: 600;
    color: var(--blanco);
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--amarillo);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn_location{
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
    background-color: var(--amarillo);
    transition: all 0.3s ease-in-out;
}

.btn_init:hover, .btn_location:hover {
    background-color: var(--amarillo);
    border-color: var(--amarillo);
    color: var(--gris-oscuro);
}

.imagenes_nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}



.imagenes_nosotros img {
    border-radius: 10px;
    border: 3px solid var(--amarillo);
}

.imagen1, .imagen2 {
    flex: 1;
    margin: 10px;
}

.imagen2 img {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .imagen1, .imagen2 {
        flex: 0 0 calc(50% - 1rem);
    }
}
