@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: #100B00;
    color:white;
}

a{
    text-decoration: none;
    color: white;
    display:inline-block;
}

.titulo {
    color: #FFB100;
    font-size: 36px;
    top: 10px;
    transition: color 350ms, transform 350ms;
}

.titulo:hover {
    color: white;
    text-decoration: underline wavy;
    transform: skew(-15deg);
    cursor: default;
}

.primera_ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap:10px;
    flex-wrap: wrap;
}
.primera_ul li a {
     margin: 0px 10px 0px 0px;
    padding: 10px 12px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-align: center;
    transition: color 350ms, transform 350ms, background 350ms;
    border-radius: 25px;
}
li a:hover, li a.active {
    color: black;
    background: #FFB100;
    transform: scale(1.2);
}

main{
    height:70vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
}

.texto_1 .p1 {
    font-style: italic;
    font-size: 50px;
    margin-bottom:20px;
}
.texto_1 .p2 {
    font-size: 120px;
    width: 80%;
    line-height: 1em;
    margin-bottom:20px;
}

.texto_1 .p3 {
    font-size: 30px;
    color: #FFB100;
    font-style: italic;
}

.button_menu{
    margin-top:20px;
    padding: 6px 10px; 
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-size:20px;
    font-weight:600;
    transition: color 350ms, background 350ms;
}
.button_menu:hover{
    background: white;
    color: black;
}

.elemento_amarillo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../assets/img/fondo-home.svg);
    background-size: cover;
    height: 345px;
    z-index: -1;
}


.food_1 img {
    object-fit: cover;
    position: relative;
    width: 520px;
    height: 100%;   
    transition: transform 2030ms;
}

.food_1 .img_top:hover{
    transform: rotate(180deg);
}

.redes a{
    color:#100B00;
    transition:0.3s;
}

.redes a:hover{
    color:#FFB100;
}
p{
    font-size:15px;
}

.dir_registrarse_login{
    color: black;
    padding: 10px;
    width: 390px;
    transform: translate(-15%,-25%)
}

.dir_registrarse_login h4{
    text-align: center;
}

.dir_registrarse_login>div{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.dir_registrarse_login a{
    text-align:center;
    padding: 8px 0px;
    background: black;
    color: white;
    width: 40%;
    border-radius:25px;
    transition: background 350ms, color 350ms;
}

.dir_registrarse_login a:hover{
    cursor: pointer;
    background: white;
    color: black;
}

@media screen and (max-width: 1330px) {
    .coleccion_nav {
        display: block;
        position: absolute;
        padding: 6.5px 2000px 0px 0px;
        top: 9px;
        left: 86%;
        width: 10%;
        height: 60px;
    }
    .coleccion_nav img {
        height: 48px;
        width: 50px;
    }
    .coleccion_nav img:hover {
        cursor: pointer;
    }
    .etiqueta_nav, .icono_cs {
        display: none;
    }
}
@media screen and (max-width: 583px) {
    .titulo {
        left: 25%;
        transition: transform 0ms, left 0ms;
        font-size: 36px;
    }
    .titulo:hover {
        color: white;
        text-decoration: none;
        transform: none;
    }
    .coleccion_nav {
        /*left: 86%;*/
        padding: 0px 0px 0px 0px;
        width: 100vw;
        top: 102px;
        left: 0;
    }
    .coleccion_nav img {
        opacity: 1;
        /*Ojo: aqui solo puse el left de 5vw porque me estoy ayudando del width 
        de 88vw*/
        margin: 0px 0px 0px 5vw;
        width: 88vw;
        padding: 0px;
    }
    .coleccion_nav img:hover {
        cursor: pointer;
    }
}
@media screen and (max-width: 384px) {
    .titulo {
        left: 3vw;
        padding: 0px 10% 0px 5%;
        font-size: 36px;
    }
}
@media screen and (max-width: 215px) {
    .coleccion_nav {
        top: 137px;
    }
}
@media screen and (max-width: 170px) {
    .titulo {
        left: 0vw;
        padding: 0px 0px 0px 0px;
        font-size: 36px;
    }
    .titulo:hover {
        transition: none;
        text-decoration: none;
        transform: none;
        left: 0px;
    }
}
