/*agregue un comentario*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "general.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background: #100b00;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

main {
  min-height: 60vh;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 20px 150px;
}

.texto_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texto_1 .p1 {
  font-style: italic;
  font-size: 4rem;
}
.texto_1 .p2 {
  font-size: 8rem;
  width: 90%;
  line-height: 1em;
}

.texto_1 .p3 {
  font-size: 4rem;
  color: #ffb100;
  font-style: italic;
}

.button_menu {
  width: fit-content;
  text-decoration: none;
  padding: 6px 10px;
  border: 2px solid white;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  transition: color 350ms, background 350ms;
  font-size: 1.5rem;
}
.button_menu:hover {
  border-color: #ffb100;
  background: #ffb100;
  color: black;
}

.elemento_amarillo {
  width: 100%;
  background-image: url(../assets/img/fondo-home.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 375px;
}

.food_1 {
  width: 575px;
  flex: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food_1 img {
  object-fit: cover;
  position: relative;
  width: 575px;
  height: 100%;
  transition: transform 2030ms;
}

.food_1 .img_top:hover {
  transform: rotate(180deg);
}

.redes a {
  color: #100b00;
  transition: 0.3s;
}

.redes a:hover {
  color: #ffb100;
}

h3 {
  font-size: 1.2rem !important;
}

.dir_registrarse_login {
  color: black;
  padding: 10px;
  width: 390px;
  transform: translate(-30%, 10%);
}

.dir_registrarse_login h4 {
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem !important;
}

.dir_registrarse_login > div {
  margin: 10px auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dir_registrarse_login a {
  padding: 10px 30px;
  font-size: 1.5rem !important;
  text-decoration: none;
  text-align: center;
  background: black;
  color: white;
  border-radius: 25px;
  transition: background 350ms, color 350ms;
}

.dir_registrarse_login a:hover {
  cursor: pointer;
  background: white;
  color: black;
}

@media only screen and (max-width: 1200px) {
  main {
    flex-direction: column;
    margin: 0 20px;
  }

  .texto_1 {
    text-align: center;
  }

  .texto_1 > .p1, .texto_1 > .p3{
    font-size: 2rem;
  }

  .texto_1 > .p2 {
    font-size: 4rem;
    width: 100%;
  }

  div.redes {
    background: transparent;
    flex-direction: row;
    position: absolute;
    box-shadow: none;
    font-size: 2.5rem;
    gap: 20px;
    bottom: 0;
    padding: 10px 0;
  }

  div.redes a:hover {
    color: white;
  }

  .food_1 img,
  .food_1 {
    width: 80%;
  }

  .button_menu {
    margin: 0 auto;
  }

  .boxes_footer {
    display: none !important;
  }

  .dir_registrarse_login {
    width: 100%;
    transform: translate(0, 10%);
    margin-bottom: 45px;
  }

  .elemento_amarillo {
    height: 750px;
  }
}
