@import "general.css";

body {
    font-size: 16px;
}

p {
    line-height: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    color:rgb(255, 177, 0);
}

img {
    width: 100%;
    object-fit: cover;
}

/* letras*/
.locals_title {
    color: #ffb100;
    text-align: center;
    letter-spacing: 4px;
    margin: 70px auto 20px;
    text-transform: uppercase;
}
.locals_title h2{
    font-size: 3rem;
     font-weight: 800;
}

section{
    margin:0 auto;
    max-width: 1200px;
    padding: 0 15px 50px;
    display: flex;
    flex-direction:column;
    gap:50px;
    justify-content: center;
    padding-bottom: 20px;
}
.scroll-container {
    max-height: 500px; 
    overflow-y: auto; 
    flex-shrink: 0; 
    padding-right: 15px; 
}

@media only screen and (min-width:768px){
    section{
        flex-direction: row;
        padding: 0 50px 50px;
        overflow-y: auto !important;
    }
    div.boxes{
        flex-direction: column;
    }

    div.iframe{
        height: auto;
    }

    div.local_box {
        width:275px;
    }
    .scroll-container {
    max-height: 750px; 
    overflow-y: auto; 
    flex-shrink: 0; 
    padding-right: 15px; 
}

}

.boxes{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:25px;
    flex: none;
    justify-content: center;
}

.placeslocals_nombre {
    margin-bottom: 10px;
}

.local_link{
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(255, 177, 0);
    color:black;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;
}

.local_link:hover{
    background-color: rgba(255, 179, 2, 0.534);
}

/* Estilo para cada lugar */
.local_box {
    width:265px;
    border: 2px solid #ffd700; 
    padding: 20px; 
    border-radius: 10px; 
}

.local_box:hover{
    border: 2px solid black; 
}

.iframe{
    width: 100%;
    height: 500px;
}

iframe{
    width: 100%;
    height: 100%;
}
