@import "general.css";

body{
    min-height: 100vh;
    background-image: url(../assets/img/fondo_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.caja_trasera{
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #ffb10094;
}

.caja_trasera div{
    text-align: center;
    flex: 1 1 0%;
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera div button{
    margin-top: 30px;
}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera div button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja_trasera button:hover{
    background: #fff;
    color: black;
}


/*Trabajando en el Responsive Design*/

@media screen and (max-width: 850px){

    .caja_trasera{
        /*Lo que medía antes 850px ahora medirá 350px*/
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_trasera div{
        position: absolute;
    }
    /*Formularios*/
    .contenedor_login_register{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_login_register form{
        position: relative;
    }
}
