/* Home */
.titulo {
  color: #ffb100;
  font-size: 2.2rem;
  text-align: center;
  transition: color 350ms, transform 350ms;
}
.primera_ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 10px;
  flex-wrap: wrap;
}
.primera_ul li a {
  font-size: 1.2rem;
  color: white;
  padding: 5px 10px !important;
  font-weight: 600;
  text-align: center;
  transition: color 350ms, transform 350ms, background 350ms;
  border-radius: 30px;
}
.primera_ul li .nav-link:hover,
.primera_ul li a.active_home {
  color: black;
  background: #ffb100;
  transform: scale(1.2);
  border: none;
}

/*About*/
.curve_header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(../assets/img/curve_header.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 240px;
}
nav {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.restaurant_name {
  color: #ffb100;
  font-weight: 600;
  font-size: 2rem;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_icons {
  display: flex;
  gap: 5px;
}

.nav_icons > a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.btn-cart {
  padding: none;
  outline: none;
  border: none;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  position: relative;
}

.notification {
  position: absolute;
  top: 3px;
  right: -5px;
  background-color: #ffb100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  color: black;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  width: 10px;
  height: 10px;
}

.icons_xl {
  display: none;
}

.nav_icons > .logout {
  display: none;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.5rem;
}

nav .nav-link {
  display: inline-block;
  text-decoration: none;
  color: #ffb100;
  transition: 0.3s;
}

nav .nav-link:hover,
.nav-link.active {
  color: white;
  border-bottom: 1px solid white;
}

.navbar > .container-fluid {
  justify-content: center !important;
}

/* Login Signup*/
header > div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 50px;
}
header img {
  width: 100px;
  height: 100px;
}

/* ------------------------------------------------- FOOTER--------------------------------*/

.footer_icons,
.footer_icons.white {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.about_footer {
  padding-top: 20px;
  color: white;
  background-color: black;
}

.about_footer > .footer_icons.white > a {
  color: white;
  text-decoration: none;
}

.footer_icons.white a {
  color: black;
}

.footer_icons > a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

/* About*/
footer {
  color: black;
  display: flex;
  align-items: center;
  padding: 0 70px;
  padding-bottom: 20px;
  justify-content: center;
}
/* index*/
.redes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 38px;
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px #f2f2f2;
}
.boxes_footer {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.boxes_footer p {
  font-size: 0.8em;
}

.boxes_footer > div {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  width: 250px;
  padding: 20px;
  box-shadow: 2px 2px 10px black;
}
.index_footer {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
/* Login_signup */

.regresar_footer {
  padding-top: 70px;
}

.regresar_footer a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #ffb100;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 30px;
  transition: 0.3s;
}

.regresar_footer a:hover {
  color: black;
  background-color: white;
}

.regresar_footer div {
  width: 100%;
  text-align: right;
}
/* Reservation */
.footer_reservation {
  color: black;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer_desc {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer_desc > p {
  display: none;
}

.contenedor_curve {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
}

.contenedor_curve_home {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.curve_footer {
  height: 250px;
  background: url(../assets/img/curve_footer.svg);
  background-size: cover;
  background-position: center;
}

/* SIDEBAR MENU se va a repetir en todos */

.container_cart.hidden {
  display: none;
}

.container_cart {
  width: 90%;
  min-height: 80vh;
  background: #fff;
  position: absolute;
  top: 10px;
  right: 0;
  margin-inline: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.container_cart_content > h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.cart_list_card {
  border: 1px solid rgb(90, 90, 90);
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.cart_list_card button {
  outline: none;
  border: none;
  background-color: transparent;
}

.cart_list_card img {
  min-width: none;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
}

.cart_list_card span {
  font-size: 1.5rem;
  font-weight: 600;
}

.cart_card_info{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.cart_card_details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item_quantity {
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 600;
  background: #ffb100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.item_remove {
  font-size: 3rem;
  font-weight: 600;
  color: black;
}

.cart_card_description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart_card_description > h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

.cart_card_description > p {
  display: none;
}

.card_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.card_total > div > p {
  margin: 0;
}

.card_total > div > span {
  font-size: 2rem;
  font-weight: 600;
}

.card_total > button {
  padding: 10px 20px;
  background-color: #ffb100;
  color: black;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (min-width: 576px){
  .container_cart {
    width: 500px;
  }
  .cart_list {
    height: 575px;
    overflow-y: auto;
  }
  .cart_card_description > h4 {
    font-size: 20px;
  }

  .cart_card_description > p {
    display: block;
    font-size: 12px;
  }
}

/*md*/
@media only screen and (min-width: 768px) {
  .nav_icons {
    gap: 20px;
  }
  .cart_card_details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cart_card_info{
    align-items: center;
    flex-direction: row;
  }
}
/*@media screen and */

/*lg*/
@media only screen and (min-width: 992px) {
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    background-color: transparent !important;
  }

  .navbar > .container-fluid {
    gap: 40px;
  }

  .icons_xl {
    display: flex;
  }

  .icons_initial {
    display: none;
  }

  .footer_desc > p {
    width: 40%;
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 1200px) {
  .navbar-expand-xl {
    background-color: black;
  }
}
