@import "general.css";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    position:relative;
    z-index:10;
}

.container_menu{
    max-width:1000px;
    position: relative;
    padding: 10px 0;
    margin: 10px 0;
}

.title_section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
}

.title_section>p{
    color:#ffb100;
    font-weight: 600;
}

.title_section>h3{
    font-size: 40px;
}

.nav_categories{
    border-bottom: 1px solid #100b00;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}
.nav_categories>a{
    list-style: none;
}


.category_item{
    color:black;
}

.category_item:hover, .category_active{
    border-bottom:2px solid #FFB100;
    font-weight: 600;
}

.menu{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.menu>button{
    background-color: #FFB100;
    padding:10px 20px;
    border:none;
    border-radius:30px;
    font-size:16px;
    font-weight: 600;
    cursor:pointer;
    transition: 0.3s;
}

.menu>button:hover{
    background-color: #100b00;
    color:white;
}

.menu_cards{
    display:flex;
    flex-wrap: wrap;
    gap:10px 20px;
    flex: none;
    padding:10px 0;
    align-items: center;
    justify-content: center;
}

.card{
    margin-top:30px;
    position:relative;
    max-width: 250px;
    height: 240px;
    border:1px solid #100b00;
    padding:20px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
    border-color:#FFB100;
}

.container_img{
    position:absolute;
    top:-40px;
    left:0;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.card_img{
    object-fit: cover;
}

.card_inner{
    margin-top:50px;
}

.card h4{
    font-size:16px;
}

.card p{
    font-size:12px;
}

.price{
    display:flex;
    gap:10px;
    justify-content: space-between;
    align-items:center;
}

.price span{
    font-weight: 600;
    color:#FFB100;
    font-size:18px;
}

.description > h4, .description>p {
    margin-bottom:5px;
}

.review_starts{
    display:flex;
    align-items: center;
    justify-content: center;
}

.card button{
    border:1px solid #100b00;
    padding:5px 10px;
    background-color:transparent;
    cursor:pointer;
    border-radius:30px;
    font-weight: 500;
}

.card button:hover{
    background-color: #FFB100;
}

.icons a:hover{
    color: #FFB100;
}
.description{
    text-align: justify;
}


@media screen and (max-width: 480px)
{
.curve_header{
    height: 150px;
}
main{
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.title_section{
  top: 20px;
  gap: 5px;
}
.title_section>p{
    font-size: 15px;
}
.title_section>h3{
    font-size: 25px;
}
.nav_categories{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    list-style: none;
    
}


}