@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #f7f7f7;
}
body {
    background-color: #f7f7f7;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
input[type="text"] {
    color: white;
    outline: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
}
.location{
    padding:5px 20px;
    border-radius:30px;
    margin-bottom:20px;
    border:none;
    color:black;
}
.hidden {
    display: none;
}
.payment_title,
.shopping_title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.type_payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment_title,
.shopping_title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.type_payment > div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.type_payment > div > input {
    appearance: none;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}
.type_payment > div > input:checked {
    background-color: #ffd700;
}
.cart {
    padding: 25px;
}
.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s ease-in-out;
}
.type_payment > div > input:checked {
    background-color: #ffd700;
}
.cart {
    padding: 25px;
}
.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    color: white;
    background-color: #343434;
}
img.logo {
    height: 75px;
    width: 75px;
    margin-bottom: 30px;
}
img {
    max-width: 150px;
    width: 100%;
    height: 100%;
}
.img_decoration {
    position: absolute;
}
.type_card {
    display: flex;
    align-items: center;
    border: 2px solid white;
    justify-content: center;
    margin: 20px 0px;
    width: fit-content;
    border-radius: 30px;
}
.type_card > div {
    display: flex;
}
.type_card > div > input {
    appearance: none;
}
.type_card > div > label {
    border-radius: 0 30px 30px 0;
    padding: 0px 40px;
    color: white;
    background-color: transparent;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}
.type_card > div:first-child > label {
    border-radius: 30px 0 0 30px;
}
.type_card > div > input:checked + label {
    background: white;
    color: black;
}
.checkout {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}
.checkout > button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #ffb100;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
}
.error {
    color: red;
    font-weight: 700;
}
.card_total {
    border-top: 1px solid #343434;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}
.cart_list_card {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}
.cart_list_card button {
    outline: none;
    border: none;
    background-color: transparent;
}
.cart_list_card img {
    min-width: none;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    object-fit: cover;
}
.cart_list_card span {
    font-weight: 600;
    font-size: 20px;
}
.cart_card_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.cart_card_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item_quantity {
    height: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
    background: #ffb100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.cart_card_description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cart_card_description > h4 {
    font-weight: 600;
}
.cart_card_description > p {
    display: none;
}
.error {
    font-weight:400;
    margin-bottom:20px;
    color: #ff5e5e;
    font-size: 14px ;
}
@media screen and (min-width: 576px) {
    .item_quantity {
        flex-direction: row;
    }
    .cart_card_description > h4 {
        font-size: 20px;
    }
    .cart_card_description > p {
        display: block;
        font-size: 16px;
    }
}
@media screen and (min-width: 576px) {
    .item_quantity {
        flex-direction: row;
    }
}
@media screen and (min-width: 768px) {
    .payment,
    .cart {
        padding: 50px;
    }
    .cart_card_description {
        width: 300px;
    }
    .cart_card_details {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .cart_card_info {
        align-items: center;
        flex-direction: row;
    }
}
@media screen and (min-width: 1092px) {
    main {
        flex-direction: row;
        gap: 20px;
    }
    .cart {
        width: 60%;
    }
    .payment {
        width: 40%;
    }
    .cart_list_card img {
        width: 100%;
        height: 100%;
    }
    .img_decoration {
        position: absolute;
    }
    .type_card {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        border: 2px solid white;
        justify-content: center;
        margin: 20px 0px;
        width: fit-content;
        border-radius: 30px;
    }
    .type_card > div {
        display: flex;
    }
    .type_card > div > input {
        appearance: none;
    }
    .type_card > div > label {
        border-radius: 0 30px 30px 0;
        padding: 0px 40px;
        color: white;
        background-color: transparent;
        font-size: 2rem;
        border: none;
        cursor: pointer;
    }
    .type_card > div:first-child > label {
        border-radius: 30px 0 0 30px;
    }
    .type_card > div > input:checked + label {
        background: white;
        color: black;
    }
    .checkout {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .checkout > button {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        background-color: #ffb100;
        border: none;
        border-radius: 20px;
        padding: 5px 30px;
    }
    .card_total {
        border-top: 1px solid #343434;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding: 20px 0;
        font-size: 3rem;
    }
}