@import "general.css";

body{
    position:relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main p{
    margin:0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem auto;
    z-index: 99;

}

.title_section{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 3rem 1rem 1rem;

}

.title_section>h3 {
    font-size: 2rem;
}

.container_res{
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

section{
    border: 2px solid black ;
    padding: 1.5rem;
}

.contact_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.contact_info>h4{
    text-align: center;
    font-size: 1.5rem;
}

.contact_info>div{
    display: flex;
    gap: 20px;
    align-items: center;
}


.final_form{
    display:flex;
    gap:10px;
    flex-direction:row;
    align-items: center;
}

.final_form>p{
    font-size:2rem;
}

.history_form{
    margin-bottom: -10px;
}
.imposible{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 6%;
}

@media only screen and (min-width:768px){
    .container_res{
        grid-template-columns: 1fr auto;
    }
    main{
        margin:2rem auto;
    }

    .title_section{
        margin: 2rem 1rem 1rem;
    }
}