/*CSS - Tabla*/
table{
    font-size: var(--parrafo);
}

thead{
    background: var(--amarillo);
}

tr th{
    font-weight: 800;
}

th,td{
    padding: 20px 15px;
    font-weight: 400;
    padding: 10px;
}

tbody tr:hover{
    color:black;
    background: var(--amarillo);
}

table,th,td{
    border: 1px solid #212B2A;
    border-collapse: collapse;
}

.container_table{
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
}

.container_table > h2{
    font-size: 3rem;
}

.container_table > table{
    font-size:1.5rem;
}